@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col safe-area-top safe-area-bottom">
    @Body
</div>

<div id="blazor-error-ui">
    Wystąpił nieoczekiwany błąd.
    <a href="" class="reload">Odśwież</a>
    <a class="dismiss">🗙</a>
</div>
