[Unit]
Description=NationsCities Blazor App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/srv/nationscities
ExecStart=/usr/bin/dotnet /srv/nationscities/NationsCities.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=nationscities
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5229

[Install]
WantedBy=multi-user.target